{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/boutique.css') }}">

{% endblock %}

{% block body %}
	<div class="affichage-produit">

		{% for produit in produits %}
			<div class="contenu-produit">
				<a href="/produit/{{produit.id}}"><img class="image-produit" src="{{ asset('' ~ produit.image ~ '') }}" alt="mon produit"/></a>
				<p>{{ produit.nom }}</p>
				{{ produit.prix }}
				EURO
			</div>

		{% endfor %}
	</div>


{% endblock %}
