
{% extends 'base.html.twig' %}

 {% block stylesheets %}
         <link rel = "stylesheet" href= "{{ asset('css/index.css') }}" >

 {% endblock %} 

{% block body %}
{% for produit in produits %}
<h2>{{ produit.nom }}</h2>

<img class = "image" src="{{ asset('' ~ produit.image ~ '') }}" alt="mon super produit"/>

{{ produit.prix }} EURO
{{ produit.descriptif }}
{% endfor %}



{% endblock %}
