<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		<link rel = "stylesheet" href= "{{ asset('css/base.css') }}" >
		<script src="https://js.stripe.com/v3/"></script>	

    </head>
	    <body>
	    	<header>
				<div class = "entete">
					<a href="/"><img class = "logo" src= "{{ asset('images/logos/logo1.png') }}" alt="logo" /></a>
					<h1>Be Unique</h1>

					<div class ="panier-compte">
						<span class="compte">
							<a href="/compte" ><img src="{{ asset('images/logos/icone-compte.jpg') }}" alt="compte" style="width: 50px; height: 50px"/></a>
						</span>
						<span class="panier">
							<a href="/cart" ><img src="{{ asset('images/logos/icone-panier.png') }}" alt="panier" style="width: 60px; height: 60px"/></a>
						</span>
					</div>
				</div>
				
				<ul class = "menu-accueil">
					<li><a class = "lien-page" href="/apropos">A propos</a></li>
					<li><a = class = "lien-page" href="/boutique">Boutique</a></li>
					<li><a  = class = "lien-page" href= "/contact">Contact</a></li>
				</ul>

	        </header>
			
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
     
			<footer>
				<div class= "le-footer">
					<div class = "Conditions-générales">
						<a class="lien_mentions_conditions" href="/conditions" >Conditions générales</a>
						<a class="lien_mentions_conditions" href="/mentions" >Mentions légales</a>
					</div>
				    <div class = "connexion_deconexion">
						{% if not app.user %}
						<a href="{{ path('security_login')}}" class="nav-link">Se connecter</a>
						{% else %}
						<a href="{{ path('security_logout')}}" class="nav-link">Se déconnecter</a>
						{% endif %}
						<a href="{{ path('order_history')}}" class="nav-commande">Historique des commandes</a>
				    </div>
					
				    <div class ="reseaux-sociaux">
						<span class="facebook">
						<a href="/Site/facebook" ><img src="{{ asset('images/logos/icone-facebook.jpg') }}" alt="facebook" style="width: 50px; height: 50px"/></a>
						</span>
						<span class="instagram">
						<a href="/Site/instagram" ><img src="{{ asset('images/logos/icone-instagram.jpg') }}" alt="instagram" style="width: 50px; height: 50px"/></a>
						</span>
				    </div>
				</div>
			</footer>  
        </body>
</html>


